<div id="header">
    <a id="LittleNB" title="See page for author [CC BY 4.0 (http://creativecommons.org/licenses/by/4.0)], via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File%3ANotebook_vol_1_on_St_Marylebone_Infirmary_Wellcome_L0046537.jpg"><img width="100" alt="Notebook vol 1 on St Marylebone Infirmary Wellcome L0046537" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c6/Notebook_vol_1_on_St_Marylebone_Infirmary_Wellcome_L0046537.jpg/512px-Notebook_vol_1_on_St_Marylebone_Infirmary_Wellcome_L0046537.jpg"/></a>
  <a href="/" id="logo">My Notebook</a>
  <ul id="menu">
    <nav>
        <li><a routerLink='./' pathMatch='full' routerLinkActive ="active"><span>Start</span></a></li>
    <li><a routerLink='./mr-home' pathMatch='full' routerLinkActive ="active"><span>Home</span></a></li>
    <li><a routerLink='./Identity' pathMatch='full' routerLinkActive ="active"><span>Mailbox</span></a></li>
    <li><a href="/"><span>Reports</span></a></li>
    </nav>
  </ul>
</div>

<router-outlet></router-outlet>
<!-- Routed views go here -->