<div id="footer">
    <a href="https://commons.wikimedia.org/wiki/File:Gemini_10_launch_time_exposure_-_GPN-2006-000036.jpg#/media/File:Gemini_10_launch_time_exposure_-_GPN-2006-000036.jpg"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/Gemini_10_launch_time_exposure_-_GPN-2006-000036.jpg/1200px-Gemini_10_launch_time_exposure_-_GPN-2006-000036.jpg" img width="50" alt="Gemini 10 launch time exposure - GPN-2006-000036.jpg"></a>
    <a href="/" id="logo">Project Xport</a>
  </div>
